*{
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    size:100px;
}

button {
    padding: 10px;
    font-size: 20px;
}

header {
    display: flex;
    margin-bottom: 300px;
}

table {
    display: block;
    align-items: center;
    justify-content: center;
}